name: Build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: python -m pip install meson==1.9.1 ninja
      - name: Install test dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get install --yes --force-yes libcriterion-dev
      - name: Configure Project
        run: meson setup builddir/ -Dwerror=true
        env:
          CC: gcc
      - name: Format
        if: matrix.os == 'ubuntu-latest'
        run: |
          meson format -r -i -e
          ninja -C builddir/ clang-format-check
      - name: Lint
        if: matrix.os == 'ubuntu-latest'
        run: |
          ninja -C builddir/ clang-tidy
      - name: Build
        run: meson compile -C builddir/ -v
      - name: Test
        if: matrix.os == 'ubuntu-latest'
        run: |
          meson test -C builddir/ -v
